<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */
$welcomeMessage = $block->getWelcome();
?>
<?php switch ($block->getShowPart()):
    case 'welcome': ?>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
        <li>
            <a href="http://127.0.0.1/magento-task/cariere">Cariere</a>
        </li>
        <li>
            <a href="http://127.0.0.1/magento-task/customer/account/">Cum cumpăr & livrare</a>
        </li>
        <li>
            <a href="http://127.0.0.1/magento-task/customer/account/">Contact</a>
        </li>
        <?php break; ?>

    <?php case 'other': ?>
        <?= $block->getChildHtml() ?>
        <?php break; ?>

    <?php endswitch; ?>
