<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<h2 class="lista-produse-titlu">Te-ar putea interesa</h2>
<div class="lista-produse-container">
    <ul class="lista-produse">
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/1.jpg'); ?>"/>
                    </a>
                    <div class="reducere">
                        <span class="reducere-text">20%</span>
                    </div>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">MaxForce IC Gel, 20 g</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">65,69 Lei</p>
                        <p class="pret-normal">82,11 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/2.jpg'); ?>"/>
                    </a>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">t20 CatchAttach, adeziv gandaci, set 3 bucati</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">3,69 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/3.jpg'); ?>"/>
                    </a>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">t30, atractant rozatoare</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">25,25 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/4.jpg'); ?>"/>
                    </a>
                    <div class="reducere">
                        <span class="reducere-text">12%</span>
                    </div>
                    <span class="livrare-gratuita">Transport Gratuit</span>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">i7.5 K-othrine SC 7.5 Flow, 1 litru</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">119,00 Lei</p>
                        <p class="pret-normal">135,66 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/5.jpg'); ?>"/>
                    </a>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">i14 Cytrol, 500 ml</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">117,81 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/6.jpg'); ?>"/>
                    </a>
                    <div class="reducere">
                        <span class="reducere-text">35%</span>
                    </div>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">i10 Quick Bayt 2Xtra WG10, 250 g</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">89,99 Lei</p>
                        <p class="pret-normal">138,04 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/7.jpg'); ?>"/>
                    </a>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">i135 PermFum Mini, 3.5 g</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">23,40 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/8.jpg'); ?>"/>
                    </a>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">i135 PermFum Midi, 11 g</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">33,31 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/9.jpg'); ?>"/>
                    </a>
                    <div class="reducere">
                        <span class="reducere-text">20%</span>
                    </div>
                    <span class="livrare-gratuita">Transport Gratuit</span>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">i21.5 Premise Gel</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">65,69 Lei</p>
                        <p class="pret-normal">82,11</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/10.jpg'); ?>"/>
                    </a>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">t225, adeziv gandaci</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">3,70</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
        <li class="produs">
            <div class="produs-cover">
                <div class="produs-content">
                    <a class="produs-imagine" href="#">
                        <img src="<?php echo $this->getViewFileUrl('images/11.jpg'); ?>"/>
                    </a>
                    <span class="livrare-gratuita">Transport Gratuit</span>
                    <p class="timp-livrare">Livrare în 24 de ore</p>
                    <h2 class="denumire-produs">
                        <a href="#">T300 Ambush, capcana soareci</a>
                    </h2>
                    <div class="pret">
                        <p class="pret-redus">24,28 Lei</p>
                    </div>
                    <div class="buton-container">
                        <button type="button" class="produs-buton">Adaugă în coș</button>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
