<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php

/**
 *  General template for displaying group of blocks devided into sections
 */

$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
$groupBehavior = $block->getGroupBehaviour() ? $block->getGroupBehaviour() : '{"tabs":{"openedState":"active"}}';
?>
<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')):?>
    <nav class="sections <?= /* @escapeNotVerified */ $groupCss ?>">
        <?php $layout = $block->getLayout(); ?>
        <div class="produse">
            <a class="produse-dropdown">
                <span class="produse-title">
                    PRODUSE
                    <img class="produse-arrow" src="<?php echo $this->getViewFileUrl('images/white-arrow-down.png'); ?>"/>
                </span>
            </a>
        </div>
        <nav class="vertical-menu">
            <ul class="nav-left">
                    <div class="nav-subitems" id="1/3">
                        <li class="vertical-menu-item" id="0">
                            <a href="#">Altoire & Taiere</a>
                        </li>
                        <li class="vertical-menu-item" id="1">
                            <a href="#">Erbicide</a>
                        </li>
                        <li class="vertical-menu-item" id="2">
                            <a href="#">Feromoni & Monitorizare</a>
                        </li>
                        <li class="vertical-menu-item" id="3">
                            <a href="#">Fungicide</a>
                        </li>
                        <li class="vertical-menu-item" id="4">
                            <a href="#">Ingrasaminte</a>
                        </li>
                        <li class="vertical-menu-item" id="5">
                            <a href="#">Insecticide agro</a>
                        </li>
                        <li class="vertical-menu-item" id="6">
                            <a href="#">Regulatori & Adjuvanti</a>
                        </li>
                        <li class="vertical-menu-item" id="7">
                            <a href="#">Seminte</a>
                        </li>
                        <li class="vertical-menu-item" id="8">
                            <a href="#">Substraturi</a>
                        </li>
                        <li class="vertical-menu-item" id="9">
                            <a href="#">Tratamente seminte</a>
                        </li>
                    </div>
                    <div class="nav-subitems" id="2/3">
                        <li class="vertical-menu-item" id="10">
                            <a href="#">Capcane</a>
                        </li>
                        <li class="vertical-menu-item" id="11">
                            <a href="#">Detergenti Profesionali</a>
                        </li>
                        <li class="vertical-menu-item" id="12">
                            <a href="#">Dezinfectanti</a>
                        </li>
                        <li class="vertical-menu-item" id="13">
                            <a href="#">Insecticide</a>
                        </li>
                        <li class="vertical-menu-item" id="14">
                            <a href="#">Larvicide</a>
                        </li>
                        <li class="vertical-menu-item" id="15">
                            <a href="#">Raticide - Rodenticide</a>
                        </li>
                        <li class="vertical-menu-item" id="16">
                            <a href="#">Repelenti</a>
                        </li>
                    </div>
                    <div class="nav-subitems" id="3/3">
                        <li class="vertical-menu-item" id="17">
                            <a href="#">Accesorii & Consumabile</a>
                        </li>
                        <li class="vertical-menu-item" id="18">
                            <a href="#">Aparatura aplicare</a>
                        </li>
                        <li class="vertical-menu-item" id="19">
                            <a href="#">Echipamente protectie</a>
                        </li>
                        <li class="vertical-menu-item" id="20">
                            <a href="#">Statii de intoxicare</a>
                        </li>
                        <li class="vertical-menu-item" id="21">
                            <a href="#">Unelte speciale</a>
                        </li>
                    </div>
            </ul>
            <div class="nav-right">
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Unelte</div>
                            <ul>
                                <li>
                                    <a href="#">Banda</a>
                                    <br>
                                    <a href="#">Mastic</a>
                                    <br>
                                    <a href="#">Foarfeci</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Utilizare</div>
                            <ul>
                                <li>
                                    <a href="#">Populatie</a>
                                    <br>
                                    <a href="#">Profesionisti</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Tip erbicid</div>
                            <ul>
                                <li>
                                    <a href="#">Erbicide total</a>
                                    <br>
                                    <a href="#">Postemergent</a>
                                    <br>
                                    <a href="#">Preemergent</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Cultura</div>
                            <ul>
                                <li>
                                    <a href="#">Ardei</a>
                                    <br>
                                    <a href="#">Capsun</a>
                                    <br>
                                    <a href="#">Gazon</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producatori</div>
                            <ul>
                                <li>
                                    <a href="#">Bayer</a>
                                    <br>
                                    <a href="#">Dupont</a>
                                    <br>
                                    <a href="#">Nufarm</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Plante vizate</div>
                            <ul>
                                <li>
                                    <a href="#">Ardei</a>
                                    <br>
                                    <a href="#">Capsun</a>
                                    <br>
                                    <a href="#">Pom fructifer</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Daunatori vizati</div>
                            <ul>
                                <li>
                                    <a href="#">Musca fructelor</a>
                                    <br>
                                    <a href="#">Tuta absoluta</a>
                                    <br>
                                    <a href="#">Trips</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Pentru culturi bio</div>
                            <ul>
                                <li>
                                    <a href="#">Potrivite</a>
                                    <br>
                                    <a href="#">Nepotrivite</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Pentru combaterea</div>
                            <ul>
                                <li>
                                    <a href="#">Alternariozei</a>
                                    <br>
                                    <a href="#">Antracnozei</a>
                                    <br>
                                    <a href="#">Manei</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Cultura</div>
                            <ul>
                                <li>
                                    <a href="#">Capsun</a>
                                    <br>
                                    <a href="#">Conifere</a>
                                    <br>
                                    <a href="#">Tomate</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Pentru culturi bio</div>
                            <ul>
                                <li>
                                    <a href="#">Potrivite</a>
                                    <br>
                                    <a href="#">Nepotrivite</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Cultura</div>
                            <ul>
                                <li>
                                    <a href="#">Conifere</a>
                                    <br>
                                    <a href="#">Capsun</a>
                                    <br>
                                    <a href="#">Gazon</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Substanta activa</div>
                            <ul>
                                <li>
                                    <a href="#">Azot</a>
                                    <br>
                                    <a href="#">Bor</a>
                                    <br>
                                    <a href="#">Fier</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Pentru culturi bio</div>
                            <ul>
                                <li>
                                    <a href="#">Potrivite</a>
                                    <br>
                                    <a href="#">Nepotrivite</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Efect asupra albinelor</div>
                            <ul>
                                <li>
                                    <a href="#">Cu efect</a>
                                    <br>
                                    <a href="#">Fara efect</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Scapa de</div>
                            <ul>
                                <li>
                                    <a href="#">Afide</a>
                                    <br>
                                    <a href="#">Gandacul de Colorado</a>
                                    <br>
                                    <a href="#">Omizi</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Basf</a>
                                    <br>
                                    <a href="#">Bayer</a>
                                    <br>
                                    <a href="#">Syngenta</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Tip de actiune</div>
                            <ul>
                                <li>
                                    <a href="#">Regulatori</a>
                                    <br>
                                    <a href="#">Adjuvanti</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Utilizare</div>
                            <ul>
                                <li>
                                    <a href="#">Populatie</a>
                                    <br>
                                    <a href="#">Profesionisti</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Flori</div>
                            <ul>
                                <li>
                                    <a href="#">Craite</a>
                                    <br>
                                    <a href="#">Crizanteme</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Legume</div>
                            <ul>
                                <li>
                                    <a href="#">Ardei</a>
                                    <br>
                                    <a href="#">Castraveti</a>
                                    <br>
                                    <a href="#">Tomate</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Plante aromatice</div>
                            <ul>
                                <li>
                                    <a href="#">Busuioc</a>
                                    <br>
                                    <a href="#">Cimbru</a>
                                    <br>
                                    <a href="#">Menta</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Grad PH</div>
                            <ul>
                                <li>
                                    <a href="#">Foarte acid</a>
                                    <br>
                                    <a href="#">Moderat acid</a>
                                    <br>
                                    <a href="#">Usor acid</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Cultura</div>
                            <ul>
                                <li>
                                    <a href="#">Aloe vera</a>
                                    <br>
                                    <a href="#">Bonsai</a>
                                    <br>
                                    <a href="#">Citrice</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Tratament prevenire</div>
                            <ul>
                                <li>
                                    <a href="#">Atac insecte</a>
                                    <br>
                                    <a href="#">Boli</a>
                                    <br>
                                    <a href="#">Incoltire</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Tratarea</div>
                            <ul>
                                <li>
                                    <a href="#">Cartof</a>
                                    <br>
                                    <a href="#">Floarea soarelui</a>
                                    <br>
                                    <a href="#">Grau</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Substanta activa fungicide</div>
                            <ul>
                                <li>
                                    <a href="#">Carboxina</a>
                                    <br>
                                    <a href="#">Mefenoxam</a>
                                    <br>
                                    <a href="#">Tebuconazol</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Substanta activa insecticide</div>
                            <ul>
                                <li>
                                    <a href="#">Clotianidin</a>
                                    <br>
                                    <a href="#">Tefludrin</a>
                                    <br>
                                    <a href="#">Imidachloprid</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Combate activitatea</div>
                            <ul>
                                <li>
                                    <a href="#">Cartite</a>
                                    <br>
                                    <a href="#">Muste</a>
                                    <br>
                                    <a href="#">Soareci</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Tip capcana</div>
                            <ul>
                                <li>
                                    <a href="#">Adeziva</a>
                                    <br>
                                    <a href="#">Electronica</a>
                                    <br>
                                    <a href="#">Mecanica</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Catchmaster</a>
                                    <br>
                                    <a href="#">Ghilotina</a>
                                    <br>
                                    <a href="#">Woodstream</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Curatarea</div>
                            <ul>
                                <li>
                                    <a href="#">Cuptoare</a>
                                    <br>
                                    <a href="#">Parchet</a>
                                    <br>
                                    <a href="#">Geamuri</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Formulare/Stare</div>
                            <ul>
                                <li>
                                    <a href="#">Lichid</a>
                                    <br>
                                    <a href="#">Pulbere</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Dupont</a>
                                    <br>
                                    <a href="#">Kleen Purgratis</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Spectru de actiune</div>
                            <ul>
                                <li>
                                    <a href="#">Bactericid</a>
                                    <br>
                                    <a href="#">Fungicid</a>
                                    <br>
                                    <a href="#">Sporicid</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Dezinfectia</div>
                            <ul>
                                <li>
                                    <a href="#">Apei potabile</a>
                                    <br>
                                    <a href="#">Mainilor</a>
                                    <br>
                                    <a href="#">Mucegaiului</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Formulare</div>
                            <ul>
                                <li>
                                    <a href="#">Gel</a>
                                    <br>
                                    <a href="#">Lichid</a>
                                    <br>
                                    <a href="#">Servetele</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Combate activitatea</div>
                            <ul>
                                <li>
                                    <a href="#">Capuse</a>
                                    <br>
                                    <a href="#">Furnici</a>
                                    <br>
                                    <a href="#">Muste</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Miros</div>
                            <ul>
                                <li>
                                    <a href="#">Inodor</a>
                                    <br>
                                    <a href="#">Sesizabil</a>
                                    <br>
                                    <a href="#">Puternic iritant</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Bayer</a>
                                    <br>
                                    <a href="#">Ghilotina</a>
                                    <br>
                                    <a href="#">Pelgar</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Combate activitatea</div>
                            <ul>
                                <li>
                                    <a href="#">Muste</a>
                                    <br>
                                    <a href="#">Tantari</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Bayer</a>
                                    <br>
                                    <a href="#">Hokochemie</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Formulare</div>
                            <ul>
                                <li>
                                    <a href="#">Pulbere umectabila</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Formulat ca</div>
                            <ul>
                                <li>
                                    <a href="#">Bloc cerat</a>
                                    <br>
                                    <a href="#">Pasta</a>
                                    <br>
                                    <a href="#">Peleti</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Culoare</div>
                            <ul>
                                <li>
                                    <a href="#">Albastru</a>
                                    <br>
                                    <a href="#">Rosu</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Substanta activa</div>
                            <ul>
                                <li>
                                    <a href="#">Bromadiolon</a>
                                    <br>
                                    <a href="#">Brodifacoum</a>
                                    <br>
                                    <a href="#">Flocomaufen</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Basf</a>
                                    <br>
                                    <a href="#">Bayer</a>
                                    <br>
                                    <a href="#">Pelgar</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Combate activitatea</div>
                            <ul>
                                <li>
                                    <a href="#">Caini</a>
                                    <br>
                                    <a href="#">Pisici</a>
                                    <br>
                                    <a href="#">Serpi</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Fabricate</div>
                            <ul>
                                <li>
                                    <a href="#">Gel</a>
                                    <br>
                                    <a href="#">Plastic</a>
                                    <br>
                                    <a href="#">Metal</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Bird X</a>
                                    <br>
                                    <a href="#">Frowein</a>
                                    <br>
                                    <a href="#">Gepaval</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Tip aparatura</div>
                            <ul>
                                <li>
                                    <a href="#">Atomizoare</a>
                                    <br>
                                    <a href="#">ULV-uri</a>
                                    <br>
                                    <a href="#">Sprayer de mana</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Ghilotina</a>
                                    <br>
                                    <a href="#">Mesto</a>
                                    <br>
                                    <a href="#">Solo</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Tip aparatura</div>
                            <ul>
                                <li>
                                    <a href="#">Atomizoare</a>
                                    <br>
                                    <a href="#">Spumant</a>
                                    <br>
                                    <a href="#">Dispersor</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producatori</div>
                            <ul>
                                <li>
                                    <a href="#">Igeba</a>
                                    <br>
                                    <a href="#">Mesto</a>
                                    <br>
                                    <a href="#">Volpi</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Tip protectie</div>
                            <ul>
                                <li>
                                    <a href="#">Costume</a>
                                    <br>
                                    <a href="#">Masti</a>
                                    <br>
                                    <a href="#">Ochelari</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">3M</a>
                                    <br>
                                    <a href="#">BLS</a>
                                    <br>
                                    <a href="#">Ogrifox</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Combate activitatea</div>
                            <ul>
                                <li>
                                    <a href="#">Furnici</a>
                                    <br>
                                    <a href="#">Soareci</a>
                                    <br>
                                    <a href="#">Sobolani</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Fabricate din</div>
                            <ul>
                                <li>
                                    <a href="#">Hartie</a>
                                    <br>
                                    <a href="#">Metal</a>
                                    <br>
                                    <a href="#">Plastic</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producator</div>
                            <ul>
                                <li>
                                    <a href="#">Futura</a>
                                    <br>
                                    <a href="#">Ghilotina</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Securizat</div>
                            <ul>
                                <li>
                                    <a href="#">Cu cheiie</a>
                                    <br>
                                    <a href="#">Nu este</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
                <div class="nav-right-submenu">
                    <div class="nav-right-submenu-info">
                        <div class="info-column">
                            <div class="info-title">Tipuri echipamente</div>
                            <ul>
                                <li>
                                    <a href="#">Arzatoare</a>
                                    <br>
                                    <a href="#">Tratamente termice</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Producatori</div>
                            <ul>
                                <li>
                                    <a href="#">CFH</a>
                                    <br>
                                    <a href="#">Kollant</a>
                                    <br>
                                    <a href="#">Stocker</a>
                                </li>
                            </ul>
                        </div>
                        <div class="info-column">
                            <div class="info-title">Fabricate</div>
                            <ul>
                                <li>
                                    <a href="#">Gel</a>
                                    <br>
                                    <a href="#">Metal</a>
                                    <br>
                                    <a href="#">Plastic</a>
                                </li>
                            </ul>
                        </div>
                        <div class="view-all-products">
                            <a href="#">Vezi toate produsele</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="enciclopedie">
            <a class="enciclopedie-dropdown">
                <span class="enciclopedie-title">
                    Enciclopedie Fito
                    <img class="enciclopedie-forum-arrow" src="<?php echo $this->getViewFileUrl('images/black-arrow-down.png'); ?>"/>
                </span>
            </a>
        </div>
        <div id="enciclopedie-onHover">
            <div class="enciclopedie-onHover-container">
                <div class="menu_wrapper">
                    <div class="left-side-wrapper">
                        <ul class="left-side-menu">
                            <li class="left-side-item-enciclopedie active">
                                <a class="left-side-link" href="#">Arbusti</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Pomi Fructiferi</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Legume</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Aromatice si condimentare</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Decorative exterior</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Decorative interior</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Cereale</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Plante tehnice</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Plante medicinale</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Bolile plantelor</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Insecte daunatoare</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Buruieni</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Nutritie si inmultire</a>
                            </li>
                            <li class="left-side-item-enciclopedie">
                                <a class="left-side-link" href="#">Sfaturi - Bine de stiut</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-side-wrapper">
                        <div class="right-side-menu-enciclopedie active">
                            <h3>Arbusti</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Alun</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Aronia</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">C</span>apsun</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Catina</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Coacaz</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">K</span>iwi</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">M</span>ur</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">S</span>mochin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Soc</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">V</span>ita de vie</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">Z</span>meur</a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Pomi Fructiferi</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Legume</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Aromatice si condimentare</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Decorative exterior</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Decorative interior</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Cereale</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Plante tehnice</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Plante medicinale</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Bolile plantelor</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Insecte daunatoare</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Buruieni</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Nutritie si inmultire</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-enciclopedie">
                            <h3>Sfaturi - Bine de stiut</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="forum-fito">
            <a class="forum-fito-dropdown">
                <span class="forum-fito-title">
                    Forum Fito
                    <img class="enciclopedie-forum-arrow" src="<?php echo $this->getViewFileUrl('images/black-arrow-down.png'); ?>"/>
                </span>
            </a>
        </div>
        <div id="forum-onHover">
            <div class="forum-onHover-container">
                <div class="menu_wrapper">
                    <div class="left-side-wrapper">
                        <ul class="left-side-menu">
                            <li class="left-side-item-forum active">
                                <a class="left-side-link" href="#">Arbusti</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Pomi Fructiferi</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Legume</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Aromatice si condimentare</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Decorative de exterior</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Flori de gradina</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Decorative de interior</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Cereale</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Plante tehnice</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Bolile plantelor</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Insecte daunatoare</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Buruieni Monocotiledonate</a>
                            </li>
                            <li class="left-side-item-forum">
                                <a class="left-side-link" href="#">Buruieni Dicotiledonate</a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-side-wrapper">
                        <div class="right-side-menu-forum active">
                            <h3>Arbusti</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Alun</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Aronia</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">C</span>apsun</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Catina</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Coacaz</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">K</span>iwi</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">M</span>ur</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">S</span>mochin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Soc</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">V</span>ita de vie</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">Z</span>meur</a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Pomi Fructiferi</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Legume</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Aromatice si condimentare</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Decorative de exterior</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Flori de gradina</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Decorative de interior</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Cereale</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Plante tehnice</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Bolile plantelor</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Insecte daunatoare</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Buruieni Monocotiledonate</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                        <div class="right-side-menu-forum">
                            <h3>Buruieni Dicotiledonate</h3>
                            <ul style="padding-left:0">
                                <li class="right-side-item">
                                    <a href="#"><span style="font-weight: bold">A</span>fin</a>
                                </li>
                                <li class="right-side-item">
                                    <a href="#">Agris</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-links">
            <div class="link-my-account">
                <a href="http://127.0.0.1/magento-task/customer/account/">Contul meu</a>
            </div>
            <?php echo $this->getChildHtml('minicart') ?>
        </div>
    </nav>
<?php endif; ?>

<script>
    require(['jquery', 'navSections'], function($, navSections) {
        navSections();
    });
</script>