<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
//$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
//$title = '';
//if (trim($block->getPageHeading())) {
//    $title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . '>'
//        . $block->escapeHtml($block->getPageHeading()) . '</span>';
//}
//?>

<div class="Wrapper">
    <div class="slider-container">
        <div class="carousel-container">
            <div class="images">
                <ul class="slides">
                    <li class="slide"><img src="<?php echo $this->getViewFileUrl('images/banner_blog.jpg'); ?>"/></li>
                    <li class="slide"><img src="<?php echo $this->getViewFileUrl('images/banner_forum.jpg'); ?>"/></li>
                    <li class="slide"><img src="<?php echo $this->getViewFileUrl('images/banner_transport_gratuit.jpg'); ?>"/></li>
                </ul>
            </div>
        </div>
        <div class="bullets-container">
            <ul class="bullet-list">
                <li class="bullet" id="btn1">

                </li>
                <li class="bullet" id="btn2">

                </li>
                <li class="bullet" id="btn3">

                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    require(['jquery', 'slides'], function($, slides) {
        slides();
    });
</script>

