@copyright__background-color:green;
@page__background-color:#f7f5f5;
@submenu-desktop-item__hover__background:#fff;

@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: #fff;
@header-panel__background-color: #f8f8f8;
@header-panel__text-color: #404069;
@header-icons-color: @color-gray46;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray40;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray46;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  body {
    .lib-css(background-color, @page__background-color);
  }

  //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
  .page-wrapper {
    .ie9 & {
      .lib-css(background-color, @page__background-color);
      min-height: 0;
    }
  }

  //
  //  Header
  //  ---------------------------------------------

  .page-header {
    .lib-css(background-color, @header__background-color);
    border-bottom: 1px solid @border-color__base;
    margin-bottom: @indent__base;

    .panel.wrapper {
      .lib-css(background-color, @header-panel__background-color);
      .lib-css(color, @header-panel__text-color);
    }
  }

  .header.panel {
    > .header.links {
      .lib-list-inline();
      float: right;
      font-size: 0;
      margin-left: auto;
      margin-right: @indent__base;

      > li {
        font-size: @font-size__base;
        margin: 0 0 0 10px;

        > a {
          .lib-link(
            @_link-color: @header-panel__text-color,
            @_link-text-decoration: none,
            @_link-color-visited: @header-panel__text-color,
            @_link-text-decoration-visited: none,
            @_link-color-hover: @header-panel__text-color,
            @_link-text-decoration-hover: none,
            @_link-color-active: @header-panel__text-color,
            @_link-text-decoration-active: none
          );
          font-size:12px;
          font-weight: bold;

        }
      }
    }
  }

  .header {
    &.content:extend(.abs-add-clearfix all) {
      padding-top: @indent__s;
      position: relative;
    }

  }
  .logo {
    float: left;
    margin: 0 0 @indent__s @indent__xl;
    max-width: 50%;
    position: relative;
    z-index: 5;
    padding-left:20px;

    img {
      display: block;
    }

    .page-print & {
      display: inline-block;
      float: none;
    }
  }

  .page-main {
    > .page-title-wrapper {
      .page-title + .action {
        margin-top: @indent__l;
      }
    }
  }

  .action.skip {
    &:not(:focus) {
      &:extend(.abs-visually-hidden all);
    }

    &:focus {
      .lib-css(background, @color-gray94);
      .lib-css(padding, @indent__s);
      box-sizing: border-box;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 15;
    }
  }

  .action-skip-wrapper {
    height: 0;
    position: relative;
  }

  //
  //  Global notice
  //  ---------------------------------------------

  .message.global {
    p {
      margin: 0;
    }

    &.noscript,
    &.cookie {
      .lib-message(@_message-type: global-note);
      margin: 0;
    }

    &.cookie {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      z-index: 3;

      .actions {
        margin-top: @indent__s;
      }
    }

    &.demo {
      .lib-message(@_message-type: global-caution);
      margin-bottom: 0;
      text-align: center;
    }
  }

  //
  //  Footer
  //  ---------------------------------------------

  .page-footer {
    margin-top: @indent__m;
  }

  .footer {
    margin-top: 200px;
    &.content {
      border-top: 1px solid @footer-links-separator-border-color;
      padding-top: @indent__base;

      ul:extend(.abs-reset-list all) {
      }

      .links {
        > li {
          .lib-css(background, @footer__background-color);
          .lib-font-size(16);
          border-top: 1px solid @footer-links-separator-border-color;
          margin: 0 -@layout__width-xs-indent;
          padding: 0 @layout__width-xs-indent;
        }

        a,
        strong {
          display: block;
          padding: @indent__s 0;
        }

        strong {
          .lib-css(color, @footer-links-color-current);
          font-weight: normal;
        }

        a {
          .lib-link(
            @_link-color: @footer-links-color,
            @_link-text-decoration: none,
            @_link-color-visited: @footer-links-color,
            @_link-text-decoration-visited: none,
            @_link-color-hover: @footer-links-color-hover,
            @_link-text-decoration-hover: underline,
            @_link-color-active: @footer-links-color-hover,
            @_link-text-decoration-active: underline
          );
        }
      }
    }
  }

  .copyright {
    .lib-css(background-color, @copyright__background-color);
    .lib-css(color, @color-white);
    display: block;
    padding: @indent__s;
    text-align: center;
  }

  .page-header,
  .page-footer {
    .switcher {
      .options {
        .lib-dropdown(
          @_dropdown-actions-padding: 0,
          @_dropdown-list-item-padding: 0,
          @_dropdown-toggle-icon-content: @icon-down,
          @_dropdown-toggle-active-icon-content: @icon-up,
          @_icon-font-text-hide: true,
          @_icon-font-size: 10px,
          @_icon-font-line-height: 22px,
          @_dropdown-list-min-width: 160px
        );

        ul.dropdown {
          a {
            .lib-link(
              @_link-color: @color-gray20,
              @_link-text-decoration: none,
              @_link-color-visited: @color-gray20,
              @_link-text-decoration-visited: none,
              @_link-color-hover: @color-gray20,
              @_link-text-decoration-hover: none,
              @_link-color-active: @color-gray20,
              @_link-text-decoration-active: none
            );
            display: block;
            padding: 8px;
          }
        }
      }

      strong {
        font-weight: @font-weight__regular;
      }

      .label {
        &:extend(.abs-visually-hidden all);
      }
    }
  }

  //
  //  Widgets
  //  ---------------------------------------------

  .sidebar {
    .widget.block:not(:last-child),
    .widget:not(:last-child) {
      margin-bottom: @indent__xl;
    }
  }

  .widget {
    clear: both;

    .block-title:extend(.abs-block-widget-title all) {
    }
  }

  .page-header,
  .page-footer {
    .widget.block {
      .lib-css(margin, @indent__base 0);
    }
  }

  .no-display:extend(.abs-no-display all) {
  }

  //
  //  Calendar
  //  ---------------------------------------------

  .ui-datepicker td {
    padding: 0;
  }

  .ui-tooltip {
    .lib-css(background, @tooltip__background);
    border: @tooltip__border-width solid @tooltip__border-color;
    padding: 10px;
  }
}

//
//  Navigation
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .customer-name,
  .customer-welcome + .authorization-link {
    display: none;
  }

  .nav-sections .switcher-trigger strong:after {
    .lib-font-size(16);
    right: -25px;
    top: -2px;
  }

  .navigation .parent .level-top:after {
    .lib-font-size(16);
    right: 10px;
    top: 7px;
  }

  .page-footer .footer.content {
    .switcher-store {
      .lib-css(background, @footer__background-color);
      .lib-font-size(16);
      margin: 0 -@layout__width-xs-indent;

      .switcher-options {
        display: block;

        ul.dropdown {
          background: none;
          border: 0;
          box-shadow: none;
          margin: 0;
          position: relative;

          &:before,
          &:after {
            display: none;
          }
        }

        .switcher-trigger,
        .switcher-option {
          border-top: 1px solid @footer-links-separator-border-color;
          display: block;
          padding: @indent__s @layout-indent__width;
        }

        .switcher-trigger strong {
          padding: @indent__s 0;
        }

        .switcher-option a {
          padding: 0;
        }
      }
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .logo {
    margin-bottom: 13px;
    margin-top: 4px;
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  html,
  body {
    height: 100%; // Stretch screen area for sticky footer
    width:89%;
    margin:auto;
  }

  body {
    .ie9 & {
      .lib-css(background-color, @copyright__background-color);
    }
  }

  .navigation ul {
    padding: 0 8px;
  }

  .page-header {
    border: 0;
    margin-bottom: 0;

    .panel.wrapper {
      border-bottom: 1px solid @secondary__color;
      .lib-css(background-color, @header-panel__background-color);
    }

    .header.panel:extend(.abs-add-clearfix-desktop all) {
      padding-bottom: 0px;
      padding-top: 0px;
    }

    .switcher {
      float: right;
      margin-left: 15px;
      margin-right: -6px;
      .lib-vendor-prefix-order(1);
    }
  }

  .page-main {
    > .page-title-wrapper {
      .page-title {
        display: inline-block;
      }

      .page-title + .action {
        float: right;
        margin-top: @indent__base;
      }
    }
  }

  .customer-welcome {
    .lib-dropdown(
      @_toggle-selector: ~'.action.switch',
      @_options-selector: ~'ul',
      @_dropdown-actions-padding: 0,
      @_dropdown-list-item-padding: 0,
      @_dropdown-toggle-icon-content: @icon-down,
      @_dropdown-toggle-active-icon-content: @icon-up,
      @_icon-font-text-hide: true,
      @_icon-font-size: 10px,
      @_icon-font-line-height: 22px,
      @_dropdown-list-pointer-position: right,
      @_dropdown-list-position-right: 0,
      @_dropdown-list-z-index: @customer-welcome__z-index
    );

    li:extend(.switcher li all) {
      a {
        .lib-link(
          @_link-color: @color-gray20,
          @_link-text-decoration: none,
          @_link-color-visited: @color-gray20,
          @_link-text-decoration-visited: none,
          @_link-color-hover: @color-gray20,
          @_link-text-decoration-hover: none,
          @_link-color-active: @color-gray20,
          @_link-text-decoration-active: none
        );
        display: block;
        line-height: 1.4;
        padding: 8px;
      }
    }

    .customer-name {
      cursor: pointer;
    }

    .customer-menu {
      display: none;
    }

    .action.switch {
      .lib-button-reset();
      .lib-css(color, @color-white);
    }

    .header.links {
      min-width: 175px;
    }

    &.active {
      .action.switch {
        .lib-icon-font-symbol(
          @_icon-font-content: @icon-up,
          @_icon-font-position: after
        );
      }

      .customer-menu {
        display: block;
      }
    }

    .greet {
      display: none;
    }
  }

  .header {
    &.panel {
      > .header.links {
        .lib-list-inline();
        float: right;
        margin-left: auto;

        > li {
          margin: 0 0 0 20px;

          &.welcome,
          > a {
            display: inline-block;
            line-height: 1.4;
            padding:11px;
            padding-right:25px;
            border-right:1px solid #e1e1e1;
          }


          &.welcome {
            a {
              .lib-css(color, @color-white);
              .lib-css(padding-left, @indent__xs);
            }
          }
        }
        >li:last-child{
          margin: 0 0 0 20px;

          &.welcome,
          > a {
            display: inline-block;
            line-height: 1.4;
            padding:11px;
            padding-right:20px;
            border-right: 0px;
          }


          &.welcome {
            a {
              .lib-css(color, @color-white);
              .lib-css(padding-left, @indent__xs);
            }
          }
        }


        > .authorization-link {
          &:after {
            content: attr(data-label);
            display: inline-block;
            margin: 0 -@indent__xs 0 @indent__xs;
          }

          &:last-child {
            &:after {
              display: none;
            }
          }
        }

        > .customer-welcome + .authorization-link {
          display: none;
        }
      }
    }

    &.content:extend(.abs-add-clearfix-desktop all) {
      padding: @indent__l @indent__base 0;
    }
  }

  .logo {
    margin: -8px auto @indent__m 0;

    img {
      max-height: inherit;
    }
  }

  .page-wrapper {
    .lib-vendor-prefix-display(flex);
    .lib-vendor-prefix-flex-direction(column);
    margin: 0;
    min-height: 100%; // Stretch content area for sticky footer
    position: relative;
    transition: margin .3s ease-out 0s;

    > .breadcrumbs,
    > .top-container,
    > .widget {
      box-sizing: border-box;
      width: 100%;
    }

    .ie10 &,
    .ie11 & {
      height: 100%;
    }
  }

  .page-footer {
    .lib-css(background, @footer__background-color);
    margin-top: auto;
    padding-bottom: @indent__m;

    .switcher {
      .options {
        ul.dropdown {
          bottom: -@indent__s;
          left: 100%;
          margin: 0 0 0 @indent__base;
          top: auto;

          &:before,
          &:after {
            bottom: @indent__base - 7px;
            left: auto;
            right: 100%;
            top: auto;
          }

          &:before {
            .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
          }

          &:after {
            .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
            margin: 0 0 -1px -1px;
          }
        }
      }
    }
  }

  .footer {
    &.content {
      border-top: none;

      .block {
        float: right;
      }

      ul {
        padding-right: 50px;
      }

      .switcher.store {
        display: block;
        margin: 0;
      }

      .links {
        display: inline-block;
        padding-right: 50px;
        vertical-align: top;

        li {
          background: transparent;
          border: none;
          font-size: 14px;
          margin: 0 0 8px;
          padding: 0;
        }

        a,
        strong {
          display: inline;
        }
      }
    }
  }
}
.block-search{
  width:600px;
  float:left;
  padding-left:50px;
  padding-top: 10px;
}
.block-search input{
  height:43px;
  border-radius: 34px;
  padding-left:20px;
}
.block-search .action.search {
  opacity:0.7;
}
.block-search .action.search:before {
  font-size: 30px;
  color: #fff;
  background-color: black;
  border-radius: 0px 50px 50px 0px;
  height:33px;
  width:61px;
  margin-top:5px;
  padding-top: 10px;
  margin-right:-10px;
}

.block-search .action.search:hover:before {
  color: #fff;
}

.block-search .action.search.disabled,
.block-search .action.search[disabled],
fieldset[disabled] .block-search .action.search {
  cursor: auto;
  pointer-events: auto;
  opacity: 0.7;
}

.navigation{

  padding: 6px 20px 0;

  .level0 > .level-top {
    line-height: 40px;
  }

  .lib-css(background, #fff);
  .level0{
    border-radius: 5px 5px 0 0;
  }
  .level0:first-child{
    background-color: #83c341;

  }
  .level0:first-child > a {
    color:#fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    //padding: 10px;
    //padding-left: 16px;
    letter-spacing: 3px;
    width: 194px;
    display: inline-block;
  }
  .level0:first-child > a:hover {
    .lib-css(color, #fff);
  }
  li.level0:not(:first-child):hover{
    background-color: #f8f8f8;
    box-shadow:0px -10px 10px #e1e1e1;
  }
  .level0.submenu{
    min-width:0px;
    width:191px;
  }
  .level1{
    font-family: "Open Sans";
    font-weight: normal;
    background-color: white;
  }

}

////////////MINICART CSS

.minicart-wrapper{

  margin-right:25px;

  .text-minicart{
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      color:#404041;
      font-weight: bold;
      font-size: 14px;
      padding-top: 7px;
  }
}
/////////////MINICART DROPDOWN CSS


.block.block-minicart.empty{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: white;
  width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin-top: 6px;
  min-height: 190px;
  z-index: 1;
  padding:0;
    &::before{
      border-color: transparent transparent #85c34a transparent;
    }
}

.minicart-title{
  background-color: #85c34a;
  color: white;
  text-align: left;
  font-weight: bold;
  padding: 12px 10px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.minicart-content{
  text-align: center;
  padding-top:20px;
}
.minicart-wrapper{
  padding-top: 0;
}

//////////RATINGS CSS

.header-rating{
  //display: inline-block;
  float: right;
  margin-left:80px;
  margin-top:17px;
  display:flex;
  font-family: "Arimo",sans-serif;
}
.search-and-ratings-contaier{
  display:flex;
  .laurel{
    width: 15px;
    height: 30px;
  }
  .header-rating-text{
    vertical-align: top;
    font-weight: bold;
    font-size: 26px;
    background-position: -45px -16px;
    line-height: 26px;
    text-align: center;
    margin-right: 5px;
  }
  .header-rating-stars{
    height: 30px;
    width:110px;
    vertical-align: top;
    margin-top:-7px;
  }
  .header-rating-number-votes{
    font-size: 13px;
    vertical-align: top;
    width: 100%;
    text-align: center;
    margin-top:-30px;
    color: #404041;
  }
  .header-stars-votes-container{
    display:grid;
    grid-template-columns: auto;
  }
}

/////SLIDER CSS
.sections.nav-sections{
  margin-bottom: 0;
}
.page-main{
  padding:0;
}
.Wrapper{
  height: 601.8px;
  width: 100%;
  padding-left: 239px;
  padding-right: 43px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}
.carousel-container{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  .images{
    float: left;
    display: inline;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 3200px;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transform: translate(0, 0);
    .slides{
      display:block;
      margin:0;
      padding:0;
      .slide{
        float:left;
        list-style-type: none;
      }
    }
  }
}
.bullet-list{
  text-align: center;
  padding: 0;
  margin: 0;
}
.bullet{
  height: 20px;
  width: 20px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  &.active{
    background: #e1e1e1;
  }
}

////////////// CSS FOR MOVING MY ACCOUNT TO NAV

//nav.navigation > ul {
//  display: flex;
//}

////////////// STICKY HEADER CSS

.sections.nav-sections.sticky {
  background: #fff none repeat scroll 0 0;
  max-width: 100%;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  padding-left:177px;
  padding-right:200px;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 13px 17px -12px #a1a1a1;
  #enciclopedie-onHover,#forum-onHover{
    margin-left:177px;
  }
  .vertical-menu{
    margin-left:156px;
  }
}

/////////CSS FOR MENU HORIZONTAL ITEMS

.sections{
  padding: 6px 20px 0;
  margin: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: white;
  > .produse,.enciclopedie,.forum-fito{
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 3;
    >a{
      color: #404041;
      text-decoration: none;
    }
  }
}


.produse-title{
    border-radius: 5px 5px 0 0;
    background-color: #83c341;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 10px;
    padding-left: 16px;
    letter-spacing: 3px;
    width: 194px;
    display: inline-block;
}
.produse-arrow{
    width: 15px;
    height: 15px;
    margin-top: 3px;
    margin-right: 10px;
    float: right;
}
.enciclopedie-forum-arrow{
  width: 12px;
  height: 12px;
  margin-right: 0;
  margin-left: 5px;
  margin-top: 5px;
  float: right;
}
.enciclopedie-title,.forum-fito-title{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
  z-index: 1;
  position: relative;
  padding: 10px 12px 10px 10px;
  margin-left: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  &:hover{
    background-color: #f8f8f8;
    top:1px;
    box-shadow: 0px -4px 18px -1px #dedede;
  }
}
.enciclopedie-title,.forum-fito-title{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
  z-index: 1;
  position: relative;
  padding: 10px 12px 10px 10px;
  margin-left: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  &.active{
    background-color: #f8f8f8;
    top:1px;
    box-shadow: 0px -4px 18px -1px #dedede;
  }
}
.nav-links{
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  float: right;
  padding: 6px 20px 0;
  margin: 0;
  text-align: right;
  .link-my-account{
    padding-top: 7px;
    a{
      color: #333;
      text-decoration: none;
    }
  }
}
#enciclopedie-onHover,#forum-onHover{
  height: auto;
  width: 97%;
  z-index: 2;
  display: none;
  margin-left: 20px;
  left: 0px;
  position: absolute;
  box-sizing: border-box;
  max-width: 1160px;
  width: 100%;
  background-color: #f8f8f8;
  .enciclopedie-onHover-container,.forum-onHover-container{
    display: block;
    height: 100%;
    background: white;
    border: 1px solid #e1e1e1;
    border-radius: 0 0 7px 7px;
    margin-top: 2px;
    width: 100%;
    position: relative;
    top: -2px;
    box-shadow: 0px 5px 40px -8px grey;
    .menu_wrapper{
      display: block;
      max-width:1200px;
      .left-side-wrapper{
        height: 500px;
        display: inline-block;
        vertical-align: top;
        min-width: 0;
        box-sizing: border-box;
        width: 220px;
        border-bottom-left-radius: 5px;
        padding: 20px 0 10px 0px;
        background-clip: padding-box;
        background: #F8F8F8;
        .left-side-menu{
          background: #F8F8F8;
          width: 100%;
          padding: 0;
          font-size: 16px;
          display: block;
          margin: 0;
          border-bottom-left-radius: 5px;
          height: 100%;
          list-style: none;
          .left-side-item-enciclopedie,.left-side-item-forum{
            width: 100%;
            margin: 0;
            padding: 0;
            .left-side-link{
              width: auto;
              box-sizing: border-box;
              display: block;
              padding: 4px 0px 4px 5px;
              background: #F8F8F8;
              border-right: 1px solid #e1e1e1;
              color: #404041;
              font-family: Open Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.2px;
              text-decoration: none;
            }
            &.active{
              .left-side-link {
                font-weight: bold;
                border-right: 2px solid white;
                border-left: 1px solid #e1e1e1;
                border-bottom: 1px solid #e1e1e1;
                border-top: 1px solid #e1e1e1;
                background: white;
                border-top-left-radius: 3px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 3px;
              }
            }
          }
        }
      }
      .right-side-wrapper{
        height: 500px;
        background: white;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        //width: calc(100% - 225px);
        overflow: auto;
        padding: 20px 0 10px 40px;
        .right-side-menu-enciclopedie,.right-side-menu-forum{
          display: none;
          &.active{
            display: inline-block;
            width: 100%;
          }
          h3{
            margin: 0 0 20px 0;
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
          }
          .right-side-item{
            min-width: 125px;
            margin: 5px 0;
            padding: 0 10px 0 0;
            line-height: 1;
            a{
              font-family: Open Sans;
              font-style: normal;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.2px;
              color: #404041;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

///////////////// VERTICAL MENU CSS

.vertical-menu{
  display: inline-block;
  padding: 0 20px;
  position: absolute;
  border-right: 0;
  z-index: 1;
  left: 0;
  top: 45px;
  box-sizing: border-box;
  width: 100%;
  font-family: "Arimo",sans-serif;
  .nav-left{
    margin: 0;
    padding: 5px 0;
    width: 220px;
    margin-right: -220px;
    float: left;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 0;
    background-color: #f8f8f8;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom-left-radius: 7px;
    position: relative;
    z-index: 5;
    list-style:none;
    .nav-subitems{
      background-color: transparent;
      border-right: 0;
      position: relative;
      padding: 1px 0;
      li{
        padding: 2px 0 2px 18px;
        a{
          font-size: 16px;
          color: #404041;
          text-decoration: none;
        }
      }
      &.active{
        background-color: #fdfdfd;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: 1px solid #e1e1e1;
        border-right: 0;
        margin-left: 5px;
        right: -1px;
        padding: 0;
        li{
          padding-left: 11px;
        }
      }
    }
  }
  .nav-right{
    width: 100%;
    float: right;
    position: absolute;
    padding: 0 20px;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    .nav-right-submenu{
      display: none;
      margin-left: 220px;
      height: 100%;
      padding: 20px 15px 15px 30px;
      box-sizing: border-box;
      border-bottom-right-radius: 7px;
      background-color: #fdfdfd;
      border-top: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      position: relative;
      z-index: 6;
      .nav-right-submenu-info{
        height: 100%;
        min-width: 200px;
        box-sizing: border-box;
        position: relative;
        .info-title{
          color: #414141;
          font-weight: bold;
          text-transform: uppercase;
        }
         ul {
          display: block;
          margin-top: 3px;
          margin-bottom: 5px;
          padding:0;
          list-style: none;
          li{
            padding: 2px 0;
            a{
              font-size: 14px;
              color: #404041;
              text-decoration: none;
            }
          }
        }
        .view-all-products{
          position: absolute;
          bottom: 32px;
          a{
            color: #678032;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
      &.active{
        display:block;
      }
    }
  }
}

//////LISTA PRODUSE CSS

.page-wrapper{
  background: white;
}

.lista-produse-titlu{
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  color: black;
  margin-left:20px;
}
.lista-produse-container{
  border: 1px solid #e1e1e1;
  border-radius: 7px;
  margin:0 20px 30px 20px;
  font-family: "Arimo",sans-serif;
  a {
    color: #404041;
    text-decoration: none;
  }
  .lista-produse{
    width:100%;
    list-style: none;
    padding-left: 15px;
    margin-top: 15px;
    .produs{
      display:inline-block;
      box-sizing: border-box;
      margin: 0 7px 17px;
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      width: 18%;
      vertical-align: top;
      padding: 20px 8px 12px;
      background-color: white;
      position: relative;
      .produs-imagine{
        img{
          margin: 0 auto;
          display: block;
          width:135px;
          height:135px;
          max-width: 100%;
        }
      }
      .reducere{
        height: 45px;
        width: 60px;
        text-align: center;
        color: white;
        background: orange;
        position: absolute;
        right: -1px;
        top: -1px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 100%;
        .reducere-text{
          font-family: "Open Sans Condensed", sans-serif;
          float: right;
          margin-top: 6px;
          font-weight: bold;
          font-size: 18px;
          margin-right: 5px;
        }
      }
      .livrare-gratuita{
        position: absolute;
        top: 134px;
        height: 20px;
        width: 115px;
        background: orange;
        color: white;
        font-size: 14px;
        text-align: left;
        padding-left: 6px;
        padding-top: 2px;
        left: 0;
      }
      .timp-livrare{
        height: 15px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        color: #838EA2;
        margin: 10px 0 0 0;
      }
      .denumire-produs{
        height: 38px;
        overflow: hidden;
        display: block;
        margin: 5px 0 0 0;
        font-family: "Arimo",sans-serif;
        font-weight: normal;
        font-size: 14px;
        padding-left: 0px;
      }
      .pret{
        .pret-redus{
          color: #404041;
          font-family: "Open Sans Condensed", sans-serif;
          font-size: 16px;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
          display: inline-block;
        }
        .pret-normal{
          color: #b7b7b7;
          font-family: "Open Sans Condensed", sans-serif;
          font-size: 14px;
          text-decoration: line-through;
          margin-bottom: 0px;
          margin-top: 0;
          display: inline-block;
        }
      }
      .buton-container{
        height: 35px;
        display: block;
        .produs-buton{
          font-family: "Open Sans", sans-serif;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          display: block;
          background-color: #f16d2a;
          padding: 9px 5px;
          margin: 0 auto;
          border: none;
          color: white;
          border-radius: 20px;
          width: 100%;
          cursor: pointer;
          margin-top: 8px;
        }
      }
    }
  }
}